@use "variables/colors";
@use "variables/framing";
@use "variables/mixins";
@use "variables/type";

$component-color: colors.$display;
$component-color-tint: colors.$display-tint;
$component-color-dark: colors.$display-dark;

#about {
  @include mixins.card($component-color);
  padding: 0;
  color: $component-color-dark;
  @include mixins.book;

  .expandable-header {
    background-color: colors.$display;
    color: colors.$secondary;
    border-top-right-radius: framing.$border-radius-card;
    border-top-left-radius: framing.$border-radius-card;
    padding: 0.75em;
    font-family: type.$slab-stack;
    text-transform: uppercase;
  }

  .expandable-header-collapsed {
    border-bottom-right-radius: framing.$border-radius-card;
    border-bottom-left-radius: framing.$border-radius-card;
  }

}

