@use "variables/framing";
@use "variables/colors";
@use "variables/type";
@use "year/year";
@use "year/featured_year";
@use "year/standard_year";
@use "about";
@use "expandable";
@use "what_is_this";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,500;0,800;1,200;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@700;900&display=swap");

body {
  font-family: type.$serif-stack;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid colors.$display;
  border-radius: 8px;
  opacity: 100%;
}

.btn-link, a {
  font-size: inherit !important;
  color: inherit !important;
  padding: 0 .125em !important;
  margin: inherit !important;
}

.btn-link {
  text-decoration: none;
}

a {
  text-decoration: underline !important;
}

.at-a-glance {
  font-family: type.$slab-stack;
  text-transform: uppercase;
  text-align: center;
  color: colors.$display;
}

.tight {
  letter-spacing: -.5em;
}

.open {
  letter-spacing: .5em;
}