@use 'variables/mixins';
@use 'variables/tokens';
@use 'variables/colors';

#what-is-this, #what-is-this.expandable-header, #what-is-this.expandable-content, #what-is-this div {
  @include mixins.book;
}

#what-is-this {
  margin-top: tokens.$padding-tiny;
}

#what-is-this .expandable-header {
  display: inline-block;
  padding: tokens.$padding-small tokens.$padding-tiny 0 tokens.$padding-small;
  @include mixins.border-top-style(colors.$main-dark);
}
