$main: #01597F;
$main-tint: #DBF1FC;
$main-dark: #00435B;

$display: #743981;
$display-tint: #FDEEF5;
$display-dark: #361F47;

$secondary: #fff;

$secondary-start: #006E51;
$secondary-start-tint: #F0F8F2;
$secondary-start-dark: #014932;

$secondary-end: #A83824;
$secondary-end-tint: #FEECEB;
$secondary-end-dark: #722418;
