// border and spacing around/inside frame

$padding-null: 0;
$padding-micro: 0.125rem;
$padding-tiny: 0.25rem;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.25rem;

$padding-card: $padding-large;
$border-radius-card: $border-radius-large;
