// border and spacing around/inside frame

$spacing-null: 0;
$spacing-micro: 0.125rem;
$spacing-tiny: 0.25rem;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

$padding-null: $spacing-null;
$padding-micro: $spacing-micro;
$padding-tiny: $spacing-tiny;
$padding-small: $spacing-small;
$padding-medium: $spacing-medium;
$padding-large: $spacing-large;

$margin-null: $spacing-null;
$margin-micro: $spacing-micro;
$margin-tiny: $spacing-tiny;
$margin-small: $spacing-small;
$margin-medium: $spacing-medium;
$margin-large: $spacing-large;

$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.25rem;

$padding-card: $padding-large;
$border-radius-card: $border-radius-large;
