@use "framing";
@use "type";

$borer-style: solid 1px;

@mixin border-style($color:#000) {
  border: $color $borer-style;
}

@mixin border-bottom-style($color:#000) {
  border-bottom: $color $borer-style;
}

@mixin border-top-style($color:#000) {
  border-top: $color $borer-style;
}

@mixin book {
  font-size: type.$text-book;
  line-height: type.$line-height-book;
  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

@mixin card($color:#000) {
  padding: framing.$padding-large;
  border-radius: framing.$border-radius-large;
  overflow: hidden;
  @include border-style($color);
}


