$serif-stack: 'Crimson Pro', serif;
$slab-stack: "Hepta Slab", sans-serif;

$text-small: 0.9rem;
$text-regular: 1.2rem;
$text-medium: 1.5rem;
$text-large: 2rem;
$text-xlarge: 3rem;

$line-height-tight: 0.9em;
$line-height-regular: 1em;
$line-height-standard: 1.2em;
$line-height-medium: 1.35em;
$line-height-open: 1.5em;

$text-book: $text-regular;
$line-height-book: $line-height-medium;