@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,500;0,800;1,200;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@700;900&display=swap");
.year {
  font-family: "Hepta Slab", sans-serif;
  font-size: 1.5rem;
}

.three-holidays {
  padding: 0.5rem;
  line-height: 1.25em;
}

.overlap {
  margin-top: 0.25em;
}

.passover-and-easter-overlap {
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 0.9em;
  margin: 0;
  padding: 0.75em;
}

/* Common formatting for how we display a single holiday */
.one-holiday {
  margin: 0 !important;
  padding: 0 !important;
}

.select-days {
  padding: 0.25em;
}

.featured-year {
  border: #01597F solid 1px;
  font-size: 1.5rem;
  padding: 0 !important;
  margin: 0 auto 1rem auto !important;
  border-radius: 1rem;
  overflow: hidden;
  color: #00435B;
}
.featured-year .year {
  font-size: 3rem;
  line-height: 1em;
  margin-top: 0.125em;
  margin-bottom: 0.0625em;
}
.featured-year .header {
  padding-top: 1rem;
  background-color: #01597F;
  color: #fff !important;
  padding-bottom: 1.5rem;
}
.featured-year .passover-and-easter-overlap, .featured-year .select-days {
  border-bottom: #01597F solid 1px;
}
.featured-year .three-holidays {
  background-color: #DBF1FC;
  padding: 1.5rem;
}
.featured-year .three-holidays {
  background-color: #DBF1FC;
}

/* Label above featured year to determine if the holidays hav already passed */
.has-passed, .change-years {
  font-size: 0.9em;
  margin: 0;
  line-height: 1em;
  padding: 0 0 0.2rem;
  font-weight: 200;
}

.change-years {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Buttons below featured year switch year to display */
.change-year, .change-year:hover, .change-year:active {
  text-decoration: none;
  margin: 0;
  padding: 0 0.5em;
  line-height: 1em;
  color: inherit !important;
  font-size: inherit;
  font-weight: inherit;
}

.standard-year {
  font-size: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0.25rem;
  overflow: hidden;
}
.standard-year .header {
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

.standard-year-1 {
  color: #0a4630;
}
.standard-year-1 .standard-year {
  border: #0e6a4d solid 1px;
}
.standard-year-1 .header {
  background-color: #0e6a4d;
}
.standard-year-1 .passover-and-easter-overlap, .standard-year-1 .select-days {
  border-bottom: #0e6a4d solid 1px;
}
.standard-year-1 .three-holidays {
  background-color: #f1f7f1;
}

.standard-year-2 {
  color: #14432e;
}
.standard-year-2 .standard-year {
  border: #1c654a solid 1px;
}
.standard-year-2 .header {
  background-color: #1c654a;
}
.standard-year-2 .passover-and-easter-overlap, .standard-year-2 .select-days {
  border-bottom: #1c654a solid 1px;
}
.standard-year-2 .three-holidays {
  background-color: #f2f6f1;
}

.standard-year-3 {
  color: #1d402c;
}
.standard-year-3 .standard-year {
  border: #2a6146 solid 1px;
}
.standard-year-3 .header {
  background-color: #2a6146;
}
.standard-year-3 .passover-and-easter-overlap, .standard-year-3 .select-days {
  border-bottom: #2a6146 solid 1px;
}
.standard-year-3 .three-holidays {
  background-color: #f4f5f0;
}

.standard-year-4 {
  color: #273d29;
}
.standard-year-4 .standard-year {
  border: #385c42 solid 1px;
}
.standard-year-4 .header {
  background-color: #385c42;
}
.standard-year-4 .passover-and-easter-overlap, .standard-year-4 .select-days {
  border-bottom: #385c42 solid 1px;
}
.standard-year-4 .three-holidays {
  background-color: #f5f4f0;
}

.standard-year-5 {
  color: #303a27;
}
.standard-year-5 .standard-year {
  border: #46583e solid 1px;
}
.standard-year-5 .header {
  background-color: #46583e;
}
.standard-year-5 .passover-and-easter-overlap, .standard-year-5 .select-days {
  border-bottom: #46583e solid 1px;
}
.standard-year-5 .three-holidays {
  background-color: #f6f3ef;
}

.standard-year-6 {
  color: #3a3725;
}
.standard-year-6 .standard-year {
  border: #54533b solid 1px;
}
.standard-year-6 .header {
  background-color: #54533b;
}
.standard-year-6 .passover-and-easter-overlap, .standard-year-6 .select-days {
  border-bottom: #54533b solid 1px;
}
.standard-year-6 .three-holidays {
  background-color: #f7f2ef;
}

.standard-year-7 {
  color: #433323;
}
.standard-year-7 .standard-year {
  border: #624f37 solid 1px;
}
.standard-year-7 .header {
  background-color: #624f37;
}
.standard-year-7 .passover-and-easter-overlap, .standard-year-7 .select-days {
  border-bottom: #624f37 solid 1px;
}
.standard-year-7 .three-holidays {
  background-color: #f8f1ee;
}

.standard-year-8 {
  color: #4c3021;
}
.standard-year-8 .standard-year {
  border: #704a33 solid 1px;
}
.standard-year-8 .header {
  background-color: #704a33;
}
.standard-year-8 .passover-and-easter-overlap, .standard-year-8 .select-days {
  border-bottom: #704a33 solid 1px;
}
.standard-year-8 .three-holidays {
  background-color: #f9f0ed;
}

.standard-year-9 {
  color: #562d1f;
}
.standard-year-9 .standard-year {
  border: #7e462f solid 1px;
}
.standard-year-9 .header {
  background-color: #7e462f;
}
.standard-year-9 .passover-and-easter-overlap, .standard-year-9 .select-days {
  border-bottom: #7e462f solid 1px;
}
.standard-year-9 .three-holidays {
  background-color: #fbefed;
}

.standard-year-10 {
  color: #5f2a1c;
}
.standard-year-10 .standard-year {
  border: #8c412c solid 1px;
}
.standard-year-10 .header {
  background-color: #8c412c;
}
.standard-year-10 .passover-and-easter-overlap, .standard-year-10 .select-days {
  border-bottom: #8c412c solid 1px;
}
.standard-year-10 .three-holidays {
  background-color: #fceeec;
}

.standard-year-11 {
  color: #69271a;
}
.standard-year-11 .standard-year {
  border: #9a3d28 solid 1px;
}
.standard-year-11 .header {
  background-color: #9a3d28;
}
.standard-year-11 .passover-and-easter-overlap, .standard-year-11 .select-days {
  border-bottom: #9a3d28 solid 1px;
}
.standard-year-11 .three-holidays {
  background-color: #fdedec;
}

.standard-year-12 {
  color: #722418;
}
.standard-year-12 .standard-year {
  border: #a83824 solid 1px;
}
.standard-year-12 .header {
  background-color: #a83824;
}
.standard-year-12 .passover-and-easter-overlap, .standard-year-12 .select-days {
  border-bottom: #a83824 solid 1px;
}
.standard-year-12 .three-holidays {
  background-color: #feeceb;
}

#about {
  border: #743981 solid 1px;
  padding: 0;
  border-radius: 10px;
  font-size: 1.2em;
  color: #361F47;
}
#about .expandable-header {
  background-color: #743981;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.75em;
  font-family: "Hepta Slab", sans-serif;
  text-transform: uppercase;
}
#about .expandable-header-collapsed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.expandable-content {
  padding: 0.75em;
}

.expandable-content a {
  color: inherit;
}

.expandable-content p {
  line-height: 1.35em;
}

.expandable-content p:first-of-type {
  margin-top: 0;
}

.expandable-content p:last-of-type {
  margin-bottom: 0;
}

#what-is-this, #what-is-this.expandable-header, #what-is-this.expandable-content, #what-is-this div {
  padding: 0;
  margin: 0;
  line-height: 1em;
  border: 0;
  font-size: 0.9em;
}

#what-is-this {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-bottom: 0.5em;
}

body {
  font-family: "Crimson Pro", serif;
  padding: 2rem;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #743981;
  border-radius: 8px;
  opacity: 100%;
}

.btn-link {
  font-size: inherit !important;
  color: inherit !important;
  padding: 0 0.125em !important;
  margin: inherit !important;
  text-decoration: inherit !important;
}

.at-a-glance {
  font-family: "Hepta Slab", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #743981;
}

.tight {
  letter-spacing: -0.5em;
}

.open {
  letter-spacing: 0.5em;
}

/*# sourceMappingURL=custom_styles.css.map */
