@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,500;0,800;1,200;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@700;900&display=swap");
.year {
  font-family: "Hepta Slab", sans-serif;
  font-size: 1.5rem;
}

.three-holidays {
  padding: 0.5rem;
  line-height: 1.25em;
}

.overlap {
  margin-top: 0.25em;
}

.passover-and-easter-overlap {
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 0.9em;
  margin: 0;
  padding: 0.75em;
}

.btn-link {
  font-size: inherit !important;
  color: inherit !important;
  padding: 0 0.125em !important;
  margin: inherit !important;
  text-decoration: inherit !important;
}

.at-a-glance {
  font-family: "Hepta Slab", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.tight {
  letter-spacing: -0.5em;
}

.open {
  letter-spacing: 0.5em;
}

/* Common formatting for how we display a single holiday */
.one-holiday {
  margin: 0 !important;
  padding: 0 !important;
}

.select-days {
  padding: 0.25em;
}

.featured-year {
  border: #007ABB solid 1px;
  font-size: 1.5rem;
  padding: 0 !important;
  margin: 0 auto 1rem auto !important;
  border-radius: 1rem;
  overflow: hidden;
  color: #005988;
}
.featured-year .year {
  font-size: 3rem;
  line-height: 1em;
  margin-top: 0.125em;
  margin-bottom: 0.0625em;
}
.featured-year .header {
  padding-top: 1rem;
  background-color: #007ABB;
  color: #fff !important;
  padding-bottom: 1.5rem;
}
.featured-year .passover-and-easter-overlap, .featured-year .select-days {
  border-bottom: #007ABB solid 1px;
}
.featured-year .three-holidays {
  background-color: #dff4ff;
  padding: 1.5rem;
}
.featured-year .three-holidays {
  background-color: #dff4ff;
}

/* Label above featured year to determine if the holidays hav already passed */
.has-passed, .change-years {
  font-size: 0.9em;
  margin: 0;
  line-height: 1em;
  padding: 0 0 0.2rem;
  font-weight: 200;
}

.change-years {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Buttons below featured year switch year to display */
.change-year, .change-year:hover, .change-year:active {
  text-decoration: none;
  margin: 0;
  padding: 0 0.5em;
  line-height: 1em;
  color: inherit !important;
  font-size: inherit;
  font-weight: inherit;
}

.standard-year {
  font-size: 1.2rem;
  border-radius: 1rem;
  margin: 1rem 0.25rem;
  overflow: hidden;
}
.standard-year .header {
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}
.standard-year-1 {
  color: #0d4431;
}
.standard-year-1 .standard-year {
  border: #12805e solid 1px;
}
.standard-year-1 .header {
  background-color: #12805e;
}
.standard-year-1 .passover-and-easter-overlap, .standard-year-1 .select-days {
  border-bottom: #12805e solid 1px;
}
.standard-year-1 .three-holidays {
  background-color: #bafcea;
}

.standard-year-2 {
  color: #19422d;
}
.standard-year-2 .standard-year {
  border: #247b56 solid 1px;
}
.standard-year-2 .header {
  background-color: #247b56;
}
.standard-year-2 .passover-and-easter-overlap, .standard-year-2 .select-days {
  border-bottom: #247b56 solid 1px;
}
.standard-year-2 .three-holidays {
  background-color: #c0f9e7;
}

.standard-year-3 {
  color: #264129;
}
.standard-year-3 .standard-year {
  border: #36764e solid 1px;
}
.standard-year-3 .header {
  background-color: #36764e;
}
.standard-year-3 .passover-and-easter-overlap, .standard-year-3 .select-days {
  border-bottom: #36764e solid 1px;
}
.standard-year-3 .three-holidays {
  background-color: #c6f5e4;
}

.standard-year-4 {
  color: #333f25;
}
.standard-year-4 .standard-year {
  border: #487146 solid 1px;
}
.standard-year-4 .header {
  background-color: #487146;
}
.standard-year-4 .passover-and-easter-overlap, .standard-year-4 .select-days {
  border-bottom: #487146 solid 1px;
}
.standard-year-4 .three-holidays {
  background-color: #ccf2e0;
}

.standard-year-5 {
  color: #3f3e21;
}
.standard-year-5 .standard-year {
  border: #5a6c3e solid 1px;
}
.standard-year-5 .header {
  background-color: #5a6c3e;
}
.standard-year-5 .passover-and-easter-overlap, .standard-year-5 .select-days {
  border-bottom: #5a6c3e solid 1px;
}
.standard-year-5 .three-holidays {
  background-color: #d2efdd;
}

.standard-year-6 {
  color: #4c3d1e;
}
.standard-year-6 .standard-year {
  border: #6c6736 solid 1px;
}
.standard-year-6 .header {
  background-color: #6c6736;
}
.standard-year-6 .passover-and-easter-overlap, .standard-year-6 .select-days {
  border-bottom: #6c6736 solid 1px;
}
.standard-year-6 .three-holidays {
  background-color: #d9ecda;
}

.standard-year-7 {
  color: #593b1a;
}
.standard-year-7 .standard-year {
  border: #7e612e solid 1px;
}
.standard-year-7 .header {
  background-color: #7e612e;
}
.standard-year-7 .passover-and-easter-overlap, .standard-year-7 .select-days {
  border-bottom: #7e612e solid 1px;
}
.standard-year-7 .three-holidays {
  background-color: #dfe8d7;
}

.standard-year-8 {
  color: #653a16;
}
.standard-year-8 .standard-year {
  border: #905c26 solid 1px;
}
.standard-year-8 .header {
  background-color: #905c26;
}
.standard-year-8 .passover-and-easter-overlap, .standard-year-8 .select-days {
  border-bottom: #905c26 solid 1px;
}
.standard-year-8 .three-holidays {
  background-color: #e5e5d4;
}

.standard-year-9 {
  color: #723812;
}
.standard-year-9 .standard-year {
  border: #a2571e solid 1px;
}
.standard-year-9 .header {
  background-color: #a2571e;
}
.standard-year-9 .passover-and-easter-overlap, .standard-year-9 .select-days {
  border-bottom: #a2571e solid 1px;
}
.standard-year-9 .three-holidays {
  background-color: #ebe2d1;
}

.standard-year-10 {
  color: #7f370e;
}
.standard-year-10 .standard-year {
  border: #b45216 solid 1px;
}
.standard-year-10 .header {
  background-color: #b45216;
}
.standard-year-10 .passover-and-easter-overlap, .standard-year-10 .select-days {
  border-bottom: #b45216 solid 1px;
}
.standard-year-10 .three-holidays {
  background-color: #f1dfcd;
}

.standard-year-11 {
  color: #8b350a;
}
.standard-year-11 .standard-year {
  border: #c64d0e solid 1px;
}
.standard-year-11 .header {
  background-color: #c64d0e;
}
.standard-year-11 .passover-and-easter-overlap, .standard-year-11 .select-days {
  border-bottom: #c64d0e solid 1px;
}
.standard-year-11 .three-holidays {
  background-color: #f7dbca;
}

.standard-year-12 {
  color: #983406;
}
.standard-year-12 .standard-year {
  border: #d84806 solid 1px;
}
.standard-year-12 .header {
  background-color: #d84806;
}
.standard-year-12 .passover-and-easter-overlap, .standard-year-12 .select-days {
  border-bottom: #d84806 solid 1px;
}
.standard-year-12 .three-holidays {
  background-color: #fdd8c7;
}

#about {
  border: #007ABB solid 1px;
  padding: 0;
  border-radius: 10px;
  font-size: 1.2em;
  color: #005988;
}
#about .expandable-header {
  background-color: #007ABB;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.75em;
  font-family: "Hepta Slab", sans-serif;
  text-transform: uppercase;
}
#about .expandable-header-collapsed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.expandable-content {
  padding: 0.75em;
}

.expandable-content a {
  color: inherit;
}

.expandable-content p {
  line-height: 1.35em;
}

.expandable-content p:first-of-type {
  margin-top: 0;
}

.expandable-content p:last-of-type {
  margin-bottom: 0;
}

#what-is-this, #what-is-this.expandable-header, #what-is-this.expandable-content, #what-is-this div {
  padding: 0;
  margin: 0;
  line-height: 1em;
  border: 0;
  font-size: 0.9em;
}

#what-is-this {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-bottom: 0.5em;
}

body {
  font-family: "Crimson Pro", serif;
  padding: 2rem;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #007ABB;
  border-radius: 8px;
  opacity: 100%;
}

/*# sourceMappingURL=custom_styles.css.map */
