@import "bootstrap/bootstrap.min.css";

.tight {
    letter-spacing: -.5em;
}

.open {
    letter-spacing: .5em;
}

.rotate-90 {
    transform: rotate(-90deg);
}

.rotate-180 {
    transform: rotate(-180deg);
}