@import "bootstrap/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,500;0,800;1,200;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One");


body {
    font-family: 'Crimson Pro', serif;
    padding: 2rem;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #000000;
    border-radius: 8px;
    opacity: 100%;
}

.btn-link {
    font-size: inherit !important;
    color: inherit !important;
    padding: 0 .125em !important;
    margin: inherit !important;
    text-decoration: inherit !important;
}

.at-a-glance {
    font-family: "Hepta Slab", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.tight {
    letter-spacing: -.5em;
}

.open {
    letter-spacing: .5em;
}

.standard-year {
    border: #000000 solid 1px;
    font-size: 1.2em;
    border-radius: 0.5rem;
    margin: 1rem 0.25rem;
    overflow: hidden;
}

.featured-year {
    border: #000000 solid 1px;
    font-size: 1.5em;
    padding: 0 !important;
    margin: 0 auto 1em auto !important;
    border-radius: 1rem;
    overflow: hidden;
}

.overlap {
    margin-top: 0.25em;
}

.year {
    font-size: 2em;
    font-family: "Hepta Slab", serif;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.featured-year .year {
    font-size: 3em;
    line-height: 1em;
    margin-top: .125em;
    margin-bottom: .0625em;
}

.standard-year .year {
    padding: 0;
    margin: 0;
}

.passover-and-easter-overlap {
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 0.9em;
    margin: 0;
    padding: .75em;
    border-bottom: solid 1px #000000;
}

/* Header for the featured year
   Includes .has-passed */

.header {
    padding-top: 1rem;
    background-color: #000000;
    color: #ffffff !important;
    padding-bottom: 1.5rem;
}

.standard-year .header {
    padding: 0.5em;
    margin-bottom: 0.75em;
}

.three-holidays {
    background-color: #c8c8c8;
    padding: .65em;
    line-height: 1.25em;
}

/* Label above featured year to determine if the holidays hav already passed */

.has-passed, .change-years {
    font-size: .9em;
    margin: 0;
    line-height: 1em;
    padding: 0 0 0.2rem;
    font-weight: 200;
}

.change-years {
    margin-top: .5em;
    margin-bottom: .5em;
}

/* Buttons below featured year switch year to display */

.change-year, .change-year:hover, .change-year:active {
    text-decoration: none;
    margin: 0;
    padding: 0 .5em;
    line-height: 1em;
    color: inherit !important;
    font-size: inherit;
    font-weight: inherit;
}

/* Common formatting for how we display a single holiday */
.one-holiday {
    margin: 0 !important;
    padding: 0 !important;
}

.one-holiday-horizontal {
}

.one-holiday-vertical {
}

.select-days {
    padding: 0.25em;
}

#about {
    border: 1px #000 solid;
    padding: 0;
    border-radius: 10px;
    font-size: 1.2em;
}

.about-header {
    background-color: #000;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.75em;
    font-family: "Hepta Slab", sans-serif;
    text-transform: uppercase;
}

.about-header-collapsed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about-content {
    padding: 0.75em;
}

.about-content a {
    color: inherit;
}

.about-content p {
    line-height: 1.35em;
}

.about-content p:first-of-type {
    margin-top: 0;
}

.about-content p:last-of-type {
    margin-bottom: 0;
}