@use "../variables/mixins";
@use "../variables/framing";
@use "../variables/colors";
@use "../variables/type";

$component-color: colors.$main;
$component-color-tint: colors.$main-tint;
$component-color-dark: colors.$main-dark;

.featured-year {
  @include mixins.card($component-color);
  font-size: type.$text-medium;
  padding: framing.$padding-null !important;
  margin: 0 auto 1rem auto !important;
  color: $component-color-dark;

  .year {
    font-size: type.$text-xlarge;
    line-height: 1em;
    margin-top: .125em;
    margin-bottom: 0.0625em;
  }

  .header {
    padding-top: framing.$padding-medium;
    background-color: $component-color;
    color: colors.$secondary !important;
    padding-bottom: framing.$padding-large;
  }

  .passover-and-easter-sunday-overlap, .select-days {
    @include mixins.border-bottom-style(colors.$main);
  }

  .select-days {
    @include mixins.book;
  }

  .three-holidays {
    background-color: $component-color-tint;
  }

  .three-holidays {
    background-color: $component-color-tint;
  }
}

/* Label above featured year to determine if the holidays have already passed */

.has-passed, .change-years {
  font-size: .9em;
  margin: 0;
  line-height: 1em;
  //padding: 0 0 0.2rem;
  font-weight: 200;
  padding-top: framing.$spacing-small;
}

/* Buttons below featured year switch year to display */

.change-year, .change-year:hover, .change-year:active {
  text-decoration: none;
  margin: 0;
  padding: 0 .5em;
  line-height: 1em;
  color: inherit !important;
  font-size: inherit;
  font-weight: inherit;
}