@use "sass:color";
@use "../variables/mixins";
@use "../variables/framing";
@use "../variables/colors";
@use "../variables/constants";

$step: 100/constants.$number-of-years;

.standard-year {
  margin-bottom: framing.$padding-large;

  .header {
    color: colors.$secondary;
  }

  .passover-and-easter-overlap {
  }
}

@for $i from 1 through constants.$number-of-years {
  $scale: 100 - $i * $step;
  $mixed-color: color.mix(colors.$secondary-start, colors.$secondary-end, $scale);
  $mixed-color-dark: color.mix(colors.$secondary-start-dark, colors.$secondary-end-dark, $scale);
  $mixed-color-tint: color.mix(colors.$secondary-start-tint, colors.$secondary-end-tint, $scale);
  .standard-year-#{$i} {
    @include mixins.card($mixed-color, small);
    color: $mixed-color-dark;

    .standard-year {
      @include mixins.border-style($mixed-color);
    }

    .header {
      background-color: $mixed-color;
    }

    .passover-and-easter-overlap, .select-days {
      @include mixins.border-bottom-style($mixed-color);
    }

    .three-holidays {
      background-color: $mixed-color-tint;
    }
  }
}