@use "../variables/framing";
@use "../variables/colors";
@use "../variables/mixins";
@use "../variables/type";

.year {
  font-family: type.$slab-stack;
  font-size: type.$text-medium;
}

.three-holidays {
  @include mixins.book;
  padding: framing.$padding-medium;
}

.overlap {
  margin-top: 0.25em;
}

.passover-and-easter-sunday-overlap {
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 0.9em;
  margin: 0;
  padding: .75em;
}

/* Common formatting for how we display a single holiday */
.one-holiday {
  margin: 0 !important;
  padding: 0 !important;
}

.select-days {
  padding: 0.25em;
}