@use "../variables";
@use "../colors";
@use "../mixins";

.year {
  font-family: variables.$slab-stack;
  font-size: variables.$text-medium;
}

.three-holidays {
  padding: variables.$padding-small;
  line-height: 1.25em;
}

.overlap {
  margin-top: 0.25em;
}

.passover-and-easter-overlap {
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 0.9em;
  margin: 0;
  padding: .75em;
}

/* Common formatting for how we display a single holiday */
.one-holiday {
  margin: 0 !important;
  padding: 0 !important;
}

.one-holiday-horizontal {
}

.one-holiday-vertical {
}

.select-days {
  padding: 0.25em;
}